<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./Assets/css/master.css">
</head>
<body>
  <div id="root">
    <div class="container">
      <header>
        <nav>
          <div class="nav-left">
            <div class="profile-container">
              <img src="./Assets/img/avatar_8.jpg" alt="">
              <div class="info-profile">
                <h3>Fabio Colombo</h3>
                <p>Boolean Student</p>
              </div>
            </div>
            <div class="icons-profile">
              <a href="#"><i class="far fa-comment-dots"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>
          <div class="nav-right">
            <div class="chat-profile">
              <img src="./Assets/img/avatar_8.jpg" alt="">
              <div class="info-contact">
                <h3>Fabio Colombo</h3>
                <p>Boolean Student</p>
              </div>
            </div>
            <div class="icons-chat">
              <a href="#"><i class="fas fa-search"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <aside class="sidebar">
          <div class="notification">
            <a href="#"><i class="fas fa-bell-slash"></i></a>
            <div class="message-notification">
              <h5>Get Notified of New Messages</h5>
              <p> <a href="#">Turn on desktop notification</a> </p>
            </div>
          </div>
          <div class="search">
            <a href="#"> <i class="fas fa-search"></i> </a>
            <input type="text" name="" value="" placeholder="Search or Start new Chat">
            <a href="#"><i class="far fa-edit"></i></a>
          </div>
          <div class="contacts">
            <div
              v-for="(contact, i) in contacts"
              class="contacts-profile"
              :class="(i == index) ? 'active' : ''"
              @click="index = i">
              <img :src="img[i]" alt="">
              <div  class="info-contact">
                <h5>{{ contact.name }}</h5>
                <p>{{ getLastMessage(i) }}</p>
                <span>{{ getLastAccess(i) }}</span>
                <div class="number-messages">2</div>
              </div>
            </div>
          </div>
        </aside>
        <section class="window">
          <div  class="messages-window">
              <div
                v-for="message in contacts[index].messages"
                class="message-container"
                >
                <div :class="(message.status == 'sent' ? 'right' : 'left')">
                  <div :class="message.status">
                    <p> {{ message.text }} </p>
                    <span class="message-time"> {{ time(message.date) }} </span>
                  </div>
                </div>
              </div>
          </div>

          <div class="text-window">
            <a href="#"> <i class="far fa-smile"></i> </a>
            <input
              type="text"
              placeholder="Insert Text"
              v-model="inputTxt"
              @keyup.enter="insertTxt">
            <a href="#"> <i class="fas fa-microphone"></i> </a>
          </div>

        </section>
      </main>


    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>

  <script src="./Assets/js/dati.js" charset="utf-8"></script>
  <script src="./Assets/js/main.js" charset="utf-8"></script>
</body>
</html>
